<div class="front">
  <div class="picture" style="background-image: url('<%= blessing.solved? ? blessing.photo.url : asset_path('she-is-Hatsune.svg') %>');"></div>
  <div class="question">
    <%= blessing.question %>
  </div>
  <div class="who">
    <div class="name"><%= blessing.solved? ? blessing.nickname : 'unknown' %></div>
    <p class="says">
      <%= blessing.solved? ? blessing.content : '嘿嘿想看嗎' %>
    </p>
  </div>
  <%= link_to get_question_blessing_path(blessing), data: { solve: blessing.id }, class: "z-btn", remote: true do %>
    <i class="fa fa-lock" aria-hidden="true"></i>
    解這張票
  <% end %>
  <%= link_to '看更多', get_content_blessing_path(blessing), data: { seemore: blessing.id }, class: "z-btn", remote: true %>
</div>
<div class="back"></div>