<div class="wrap">
  <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <div class="form-block">
      <h3>
        這是給志軒的話唷！
      </h3>
      <p>志軒只待到明天了ＱＱ，大家請快寫兒</p>
    </div>
    <%= simple_form_for @blessing do |f| %>
    <div class="form-block">
    	<h4 class="ques-title">請上傳一張你的照片</h4>
      <%= f.error :photo %>
      <%= f.file_field :photo %><br>
    </div>
    <div class="form-block">
      <h4 class="ques-title">你的名字</h4>
      <%= f.error :nickname %>
      <%= f.input_field :nickname %>
    </div>
    <div class="form-block">
      <h4 class="ques-title">你想對志軒說的話？？！？！</h4>
      <%= f.error :content %>
      <%= f.input_field :content %><br>
    </div>
    <hr>
    <div class="form-block">
      <h3>
        你希望志軒怎麼樣記住你？留下什麼印象？<br><br>
      </h3>
      <h4 class="ques-title">
        什麼問題最能代表你？這是給志軒的解謎禮物，請留下一個解答會是 <b id="you">你</b> ，屬於你最具代表性的問題！<br>
        <b>例：聽到寵物就會不能自我、心花怒放地尖叫，在貝殼內堅持捍衛寵物日到底的人是誰？</b>
      </h4>
    </div>
    <div class="form-block">
      <h4>我的問題</h4>
      <%= f.error :question %>
      <div class="question-wrap"><%= f.input_field :question %><span>？</span></div><br>
    </div>
    <div class="form-block">
      <%= f.button :submit, "確認送出", data: { disable_with: '送出送出送出ㄌ' }, class:"btn-submit" %>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('keyup', '#blessing_nickname', function() {
    if($(this).val() == '') {
      $("#you").text('你');
    } else {
      $("#you").text($(this).val());
    }
  });
</script>