  <div class="fixed-bg"></div>
  <header>
    <div class="pg-bar">
      <h2>你已解完<b><%= Blessing.solved.count %></b>張票，還剩<b><%= Blessing.unsolved.count %></b>張！</h2>
      <div class="pg-main">
        <div class="pg-body"></div>
      </div>
    </div>
  </header>
  <section class="scanLines">
    <div class="people-will-miss-you flex-l4-m3-s2-xs1-jfs-">
      <% @blessings.each do |blessing| %>
      <div id="blessing_<%= blessing.id %>" class="can-you-guess-who-this-is <%= 'you-are-right' if blessing.solved? %>">
        <%= render partial: 'blessings/partials/card', locals: { blessing: blessing } %>
      </div>
      <% end %>
    </div>
  </section>
  <div id="pop">
    <div class="close"></div>
    <div id="pop-see-more" class="content">
    </div>
    <div id="pop-question-form" class="content">
    </div>
    <div id="pop-result" class="content">
    </div>
  </div>